* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

header {
/* background-color: red;*/
background: rgb(248,249,244);
	background: linear-gradient(90deg, rgba(248,249,244,0.7432015042345064) 0%, rgba(9,9,121,1) 76%, rgba(9,18,20,1) 97%);
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top:  2%;
  padding-top:  2%;
}


footer {
  margin-top: 5%;
  background: #3e8f94;
  background: -webkit-gradient(linear, left top, right top, from(rgba(62, 143, 148, 0.743202)), color-stop(63%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, rgba(62, 143, 148, 0.743202) 0%, #090979 63%, #00d4ff 100%);
  text-align: center;
  padding: 1% 0;
}

.navbar{
	background: rgb(248,249,244);
	background: linear-gradient(90deg, rgba(248,249,244,0.7432015042345064) 0%, rgba(9,9,121,1) 76%, rgba(9,18,20,1) 97%);
		text-align: center;

}


///////////////////////////////////////////////


.new{
	display: flex;
	justify-content: center;
	}



#top{
	display: flex;
	justify-content: center;
	background: rgb(248,249,244);
	background: linear-gradient(90deg, rgba(248,249,244,0.7432015042345064) 0%, rgba(9,9,121,1) 76%, rgba(9,18,20,1) 97%);
	/*background-color: limegreen;*/
	/* padding: 1% 0; */

}

form{
	max-width: 500px;
}

#button{
	text-align: start;
	background-color: rgb(218, 193, 160);
	border-radius: 2%;
	font-size: 16px;
	padding: 0 5%;
	margin: 4% 0 4% 38%;
	border-radius: 5pt;

}

#navbar{
	display: flex;
	align-self: flex-start;
	border: 1pt solid grey;
	border-radius: 1vw;
	/* align-items: left; */
}

#wrapper1{
	display:  flex;
	justify-content: space-evenly;
	background: rgb(248,249,244);
	background: linear-gradient(90deg, rgba(248,249,244,0.7432015042345064) 0%, rgba(9,9,121,1) 76%, rgba(9,18,20,1) 97%);
}

#wrapper{
	max-width: 500px;
	/* height: 500px; */
	/* background-color: #552525FF; */
	display:  flex;
	justify-content: space-around;

}

.board{
	max-width: 500px;
	min-width: 300px;
	max-height: 500px;
	min-height: 300px;
	border:  2pt solid rgb(79, 87, 79);
	/* background-color: #78A559FF; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	border-radius: 1vw;
	margin-right: 5px;
	background: rgb(248,249,244);
	background: linear-gradient(90deg, rgba(248,249,244,0.7432015042345064) 0%, rgba(9,9,121,1) 76%, rgba(9,18,20,1) 97%);

}

.button{
	background-color: rgb(172, 158, 158);
	border-radius: 1vw;
	color:  white;
	padding: 0.5vw 2vw;
	font-size: 2vw;
}

.dice img{
	height: 50px;
	width: 50px;
	margin: 5px;
}

.dice{
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
	justify-content: center;
}

.fb {
	height: 10%;
	background-color: rgb(172, 158, 158);
}

@media (max-width: 800px) {
#wrapper{
	display:  flex;
	flex-wrap: wrap;
	height: 100%;

}

#navbar{
	display: none; }
}

.board{
	width: 50%;
	height: 100%;
	padding-bottom: 1%;
}

.button{
	font-size: 20px;
}

nav{
	display: none;
}
}